* {
    margin: 0;
    padding: 0;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: #020617;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    max-width: 100%;
    display: block
}

:root {
    --gradient: linear-gradient(135deg, #7c3aed, #ec4899);
    --border: #1e293b;
    --muted: #94a3b8;
}


/* nav */


header {
    position: sticky;
    top: 0;
    background: rgba(2, 6, 23, .9);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.nav {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}
.logoc{
    color: rgb(204, 54, 116);
}

.menu {
    display: flex;
    gap: 32px;
}

.menu a {
    color: #cbd5f5
}

.btn {
    padding: 12px 24px;
    border-radius: 30px;
    background: var(--gradient);
    font-weight: 600;
}

.btn.outline {
    background: transparent;
    border: 2px solid #3aeda2;
    color: #3aed7f;
}

.hamburger {
    display: none;
    font-size: 26px
}

/* hero */
.hero {
    background: url('assets/hero-bg.png') center/cover no-repeat;
    text-align: center;
    padding: 120px 80px;
}

.circle {
    width: 300px;
    height: 300px;
    margin: 0 auto 32px;
    border-radius: 50%;
    background: url('assets/hero-circle.png') center/cover no-repeat;
    position: relative;
}
 .mic {
     width: 90px;
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     align-items: center;
 }
.badge {
    position: absolute;
    top: 20px;
    right: 30px;
    background: #8bee88;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    animation: badgeMove 1s ease-in-out infinite;
}

@keyframes badgeMove {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 16px
}

.hero p {
    max-width: 600px;
    margin: auto;
    color: #cbd5f5;
    margin-bottom: 32px
}

.actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* global */
section {
    padding: 80px 16px
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: auto
}

/* about */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.h3 {
    color: #0ccf57;
}

.stat {
    border: 1px solid var(--border);
    padding: 32px;
    border-radius: 20px;
    text-align: center;
}

.stat h3 {
    font-size: 32px
}

/* why chose */
.whychoose {
    background: radial-gradient(circle at top, #2a0f4f, #150625);
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 48px;
}

.whygrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.whycard {
    background: #1b0b33;
    border-radius: 20px;
    padding: 28px;
}

.whycard img {
    width: 36px;
    margin-bottom: 16px;
}

.whycard h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.whycard p {
    font-size: 14px;
    color: #cbd5f5;
    line-height: 1.6;
}
.whycard.large {
    grid-row: span 2;
}

.whycard.wide {
    grid-column: span 2;
}


/*  episode */
.featured-episodes {
    background: radial-gradient(circle at top, #2a0f4f, #150625);
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.episode-card {
    background: #1b0b33;
    border-radius: 20px;
    padding: 16px;
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.episode-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.episode-card p {
    font-size: 14px;
    color: #cbd5f5;
    line-height: 1.6;
    margin-bottom: 12px;
}

.duration {
    font-size: 13px;
    color: #22c55e;
    font-weight: 500;
}
.meet-host {
    background: radial-gradient(circle at top, #2a0f4f, #150625);
}

.meet-host .section-title {

    text-align: center;
    font-size: 36px;
    margin-bottom: 48px;
}

.host-card {
    background: linear-gradient(135deg, #2b0f4e, #1a082f);
    border-radius: 28px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.host-img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.host-content h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

.host-content p {
    color: #cbd5f5;
    line-height: 1.7;
    margin-bottom: 20px;
    max-width: 700px;
}

.host-socials {
    display: flex;
    gap: 14px;
}

.host-socials a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #7c3aed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.host-socials img {
    width: 18px;
}

/* FOOTER */

.footer {
    background: linear-gradient(rgba(35, 10, 61, 0.45), rgba(66, 15, 71, 0.45)), url('assets/footer-bg.png') center / cover no-repeat;
    padding: 80px 16px 30px;
}
.footer-content {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    gap: 32px;
}

.platform-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.platform {
    display: flex;
    align-items: center;
    gap: 8px;
}

.platform img {
    width: 32px;
}

/* FOOTER BOTTOM */
.footer-bottom {
    margin-top: 50px;
    text-align: center;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid rgba(180, 164, 164, 0.192);
    margin-bottom: 16px;
}

.footer-bottom p {
    font-size: 14px;
    color: #94a3b8;

}

.host-card {
    background: linear-gradient(135deg, #2b0f4e, #1a082f);
    border-radius: 28px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.host-img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.host-content h3 {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: left;
}

.host-content p {
    color: #cbd5f5;
    line-height: 1.7;
    margin-bottom: 20px;
    max-width: 700px;
    text-align: left;
}

.host-socials {
    display: flex;
    gap: 14px;
}

.host-socials a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #7c3aed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.host-socials img {
    width: 18px;
}

/* footer */

.footer {
    background: linear-gradient(rgba(35, 10, 61, 0.45), rgba(66, 15, 71, 0.45)), url('assets/footer-bg.png') center / cover no-repeat;
    padding: 80px 16px 30px;
}
.footer-content {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    gap: 32px;
}

.platform-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.platform {
    display: flex;
    align-items: center;
    gap: 8px;
}

.platform img {
    width: 32px;
}

/* bottom */
.footer-bottom {
    margin-top: 50px;
    text-align: center;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid rgba(180, 164, 164, 0.192);
    margin-bottom: 16px;
}

.footer-bottom p {
    font-size: 14px;
    color: #94a3b8;
}

/* resposive */
@media(max-width:992px) {
    .features {
        grid-template-columns: repeat(2, 1fr)
    }

    .stats {
        grid-template-columns: repeat(2, 1fr)
    }

    .episodes {
        grid-template-columns: 1fr
    }

    .host {
        grid-template-columns: 1fr
    }
}

@media(max-width:576px) {
    .menu {
        display: none
    }

    .hamburger {
        display: block
    }

    .hero h1 {
        font-size: 32px
    }

    .actions {
        flex-direction: column
    }
}